<!-- ========== MAIN CONTENT ========== -->
    <main id="content">
        <div class="bg-gray-1100 space-bottom-2 space-bottom-lg-3">
            <div class="bg-img-hero position-relative" style="background-image: url(https://image.tmdb.org/t/p/original/{{data.backdrop_path}}); height:350px; filter: blur(4px);"></div>

            <section>
                <div class="container px-md-6" >
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="mt-n8">
                                <img class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{data.poster_path}}" alt="Image-Description">
                            </div>
                            <div class="bg-gray-3100">
                                <div>
                                    <ul class="list-unstyled">

                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="https://play.google.com/store/search?q={{data.original_title +' '+ data.release_date.split('', 4).join('')}}&c=movies&hl=en_US&gl=US">
                                                    <img class="img-fluid" src="./assets/img/200x40/img3.png" alt="Image-Description">
                                                </a>
                                            </div>
                                        </li>
                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="https://www.amazon.com/s?k={{data.original_title}}+%28{{data.release_date.split('', 4).join('')}}%29&i=shop-instant-video&ref=nb_sb_noss_2`">
                                                    <img class="img-fluid" src="./assets/img/200x40/img4.png" alt="Image-Description">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="pl-md-2 pt-4">
                                <div class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4">
                                    <div class="col-md-7 col-lg">
                                        <movie-info 
                                        [data]="data" 
                                        [mainCast]="mainCast" 
                                        [keywords]="keywords" 
                                        [budget]="budget" 
                                        [revenue]="revenue" 
                                        [releaseDate]="releaseDate">
                                        </movie-info>
                                    </div>
                                    
                                    <div class="col-md-5 col-lg-auto">
                                        <div class="pl-md-3">
                                            <div class="d-flex flex-column">
                                                <a href="#" class="btn btn-primary d-flex align-items-center justify-content-center w-lg-220rem h-52rem mb-3" tabindex="0">WATCH NOW</a>
                                                <a href="https://www.regmovies.com/" target=”_blank” class="btn btn-primary d-flex align-items-center justify-content-center  w-lg-220rem h-52rem mb-3" tabindex="0">Buy Tickets</a>
                                                <a href="#" class="btn btn-outline-light d-flex align-items-center justify-content-center  w-lg-220rem h-52rem" tabindex="0">+ PLAYLIST</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
   
                                <trailers [data]="trailers" ></trailers>
                                <also-might-like [data]="similarMovies"></also-might-like>    
                                
                                <also-directed-by [director]="director" [data]="alsoDirector" [directorBio]="directorBio" ></also-directed-by>
                                <crew-and-cast [crew]="crew" [cast]="cast"></crew-and-cast>
                                
                                <reviews [reviews]="reviews.slice(0,2)"></reviews>
                                
                                <div>
                                    <div class="home-section">
                                        <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">
                                            <h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">Add a review</h6>
                                        </header>
                                    </div>

                                    <div class="text-gray-1300">You must be
                                        <a href="#">logged in</a> to post a review.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
