<div class="mb-6">
    <div class="font-size-26 text-gray-5500 mb-3 pb-1">Trailers & Clips</div>
    <div class="row dark mx-n2">
        <div class="col-md-6 col-lg-3 px-2" *ngFor="let video of data">
            <div class="product mb-5 mb-lg-0">
                <div class="product-image mb-2 pb-1">
                    <a href="https://www.youtube.com/embed/{{video.key}} "class="d-inline-block position-relative stretched-link">
                        <img class="img-fluid" src="https://img.youtube.com/vi/{{video.key}}/mqdefault.jpg" alt="Image Description">
                    </a>
                </div>
                <div>
                    <div class="font-size-1 mb-1 product-title font-weight-bold">
                        <a href="../single-movies/single-movies-v7.html">{{video.type}}</a>
                    </div>
                    <div class="font-size-12 text-gray-1300">
                        <span>{{video.size}}p</span>
                        <span class="product-comment">1 year ago</span>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>