    <div>
        <div>
            <div class="product mb-5 mb-lg-0">
                <div class="product-image mb-2 pb-1">
                    <a (click)="triggerModal(modalData)" class="d-inline-block position-relative stretched-link">
                        <img class="img-fluid" src="https://img.youtube.com/vi/{{data.key}}/mqdefault.jpg" alt="Image Description">
                    </a>
                </div>
                <div>
                    <div class="font-size-1 mb-1 product-title font-weight-bold">
                        <a style="color:{{textColor}}" (click)="triggerModal(modalData)">{{data.name}}
                        </a>
                    </div>
                    <div class="font-size-12 text-gray-1300">
                        <span style="color:{{textColor}}" >{{data.size}}p</span>
                        <span class="product-comment" style="color:{{textColor}}">{{data.iso_639_1}}</span>
                    </div>
                </div>
            </div>
            <!-- MODAL BEGIN-->
            <ng-template #modalData style=" position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgb(0, 0, 0, 0.8);">
            <div style=" 
            position: absolute;
            top: 50%;
            bottom: auto;
            left: 50%;
            right: auto;
            margin-right: -50%;
            transform: translate(-50%, {{transform}}%)">
              <youtube-player class='player' videoId="{{data.key}}" [width]="modalWidth" [height]="modalHight" [playerVars]="playerVars"></youtube-player>
            </div>
            </ng-template>
            <!-- MODAL END-->
        </div>
    </div>

