<div class="border-bottom border-gray-5600 mb-4 pb-4" *ngFor="let review of reviews">
    <div class="d-flex mb-3 pb-1" >
        <div>
            <img class="img-fluid rounded-circle" src="https://image.tmdb.org/t/p/w45/{{review.author_details.avatar_path}}">
        </div>
        <div class="ml-3">
            <div class="mb-2">
                <span class="text-gray-1300 ml-1">Written by <span class="text-gray-5500 mb-3 pb-1">{{review.author}}</span></span>
                <span class="text-gray-1300 ml-1">on {{formatDate(review.created_at)}}</span>
            </div>
        </div>
    </div>
    <p class="mb-3 text-gray-5500">{{formatReview(review)}}
       </p>
        <div class="text-gray-1300">See original
            <a href="{{review.url}}">review</a>.
        </div>
    <div class="text-gray-1300">
        <a href="#" class="text-gray-1300">
            <i class="fa fa-thumbs-up font-size-18"></i>
        </a>
        <span class="font-size-12 font-weight-semi-bold ml-1">{{review.author_details.rating}}+</span>
    </div>
</div>