

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content">
        <!--Hero Img -->
        <div class="bg-img-hero" style="background-image: url(https://image.tmdb.org/t/p/original/{{headerMovie?.backdrop_path}}); height: 650px; filter: brightness(100%)">
            <!-- src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}} -->
            <div class="container px-md-5">
                <div class="space-top-5">
                    <div class="pt-6">
                       
                        <h6 class="display-9 text-lh-1dot3 max-w-500 mb-1">
                            <a routerLink="/movie/{{headerMovie?.id}}" class="text-white">{{headerMovieTitle}}</a>
                        </h6>
                        <div class="ml-n3">
                            <a routerLink="/movie/{{headerMovie?.id}}" class="js-fancybox d-flex text-white align-items-center" data-hs-fancybox-options='{
                                    "src": "//youtube.com/0qisGSwZym4",
                                    "speed": 700
                                }'>
                                <i class="icon far fa-play-circle"></i>
                                <div class="font-size-1 font-weight-bold ml-n1">Play Video</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Hero Img -->
        <!-- Blog Post -->
      <blog-post [data]="headerMovies"></blog-post>
        <!-- End Blog Post -->

        <section class="mb-6 mb-lg-7">
            <div class="container px-md-5 pb-1">
                <div class="mx-md-1">
                    <h6 class="text-center display-11 text-lh-1dot3 font-weight-semi-bold">Trailers & Clips</h6>
                    <br>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-one-code-features-example3" role="tabpanel" aria-labelledby="pills-one-code-features-example3-tab">
                            <div class="row mx-n2">
                              
                                <div *ngIf="mainTrailer" class="col-lg-5 px-2">
                                <trailers class="col-md-6 col-lg-3 px-2" [data]="mainTrailer" [textColor]='trailerTextCollor'></trailers>   
                                </div>
 
                            <div class="col-lg-7 px-2">
                                <div class="row mx-n2 mt-n1" >
                                    <div class="col-md-6 col-lg-4 px-2" *ngFor='let trailer of listTrailers?.slice(0,6)'>
                                        <trailers [data]="trailer" [textColor]='trailerTextCollor'></trailers>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                </div>
            </div>
            <div class="collapse mt-6" id="collapseExample">
                <div class="container px-md-4">
                    <div class="row no-gutters">
                            <div class="row mx-n2 mt-n1" >
                                <div class="col-md-6 col-lg-4 px-2" *ngFor='let trailer of listTrailers?.slice(7,15)'>
                                    <trailers [data]="trailer" [textColor]='trailerTextCollor'></trailers>   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="space-1 position-relative d-flex">
                <button class="btn btn-outline-1 mx-auto px-7 py-3 font-size-1 z-index-2 font-weight-medium font-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    + View more
                </button>
                <div class="border-top content-centered w-100 border-gray-1300"></div>
            </div>
        </section>

        <section class="space-bottom-1 space-bottom-lg-2">
            <div class="container px-md-5 pb-2 mb-1">
                <div class="mx-md-1">
                    <div class="row">
                        <div class="col-lg-8">
                            <app-popular-actors></app-popular-actors>
                        </div>
                        
                     

                        <div class="col-lg-4">
                            <app-upcoming-movies></app-upcoming-movies>
                        </div>


                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- ========== END MAIN CONTENT ========== -->