

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content">
        <!--Hero Img -->
        <div class="bg-img-hero" style="background-image: url(https://image.tmdb.org/t/p/original/{{headerMovie?.backdrop_path}}); height: 650px; filter: brightness(100%)">
            <!-- src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}} -->
            <div class="container px-md-5">
                <div class="space-top-5">
                    <div class="pt-6">
                       
                        <h6 class="display-9 text-lh-1dot3 max-w-500 mb-1">
                            <a routerLink="/movie/{{headerMovie?.id}}" class="text-white">{{headerMovieTitle}}</a>
                        </h6>
                        <div class="ml-n3">
                            <a routerLink="/movie/{{headerMovie?.id}}" class="js-fancybox d-flex text-white align-items-center" data-hs-fancybox-options='{
                                    "src": "//youtube.com/0qisGSwZym4",
                                    "speed": 700
                                }'>
                                <i class="icon far fa-play-circle"></i>
                                <div class="font-size-1 font-weight-bold ml-n1">Play Video</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Hero Img -->
        <!-- Blog Post -->
      <blog-post [data]="headerMovies"></blog-post>
        <!-- End Blog Post -->

        <section class="mb-6 mb-lg-7">
            <div class="container px-md-5 pb-1">
                <div class="mx-md-1">
                    <h6 class="text-center display-11 text-lh-1dot3 font-weight-semi-bold">Trailers & Clips</h6>
                    <br>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-one-code-features-example3" role="tabpanel" aria-labelledby="pills-one-code-features-example3-tab">
                            <div class="row mx-n2">
                              
                                <div *ngIf="mainTrailer" class="col-lg-5 px-2">
                                <trailers class="col-md-6 col-lg-3 px-2" [data]="mainTrailer" [textColor]='trailerTextCollor'></trailers>   
                                </div>
 
                            <div class="col-lg-7 px-2">
                                <div class="row mx-n2 mt-n1" >
                                    <div class="col-md-6 col-lg-4 px-2" *ngFor='let trailer of listTrailers?.slice(0,6)'>
                                        <trailers [data]="trailer" [textColor]='trailerTextCollor'></trailers>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                </div>
            </div>
            <div class="collapse mt-6" id="collapseExample">
                <div class="container px-md-4">
                    <div class="row no-gutters">
                            <div class="row mx-n2 mt-n1" >
                                <div class="col-md-6 col-lg-4 px-2" *ngFor='let trailer of listTrailers?.slice(7,15)'>
                                    <trailers [data]="trailer" [textColor]='trailerTextCollor'></trailers>   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="space-1 position-relative d-flex">
                <button class="btn btn-outline-1 mx-auto px-7 py-3 font-size-1 z-index-2 font-weight-medium font-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    + View more
                </button>
                <div class="border-top content-centered w-100 border-gray-1300"></div>
            </div>
        </section>

        <section class="space-bottom-1 space-bottom-lg-2">
            <div class="container px-md-5 pb-2 mb-1">
                <div class="mx-md-1">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex align-items-center justify-content-between mb-4 pb-1">
                                <h5 class="font-size-24 font-weight-medium font-secondary mb-0">Popular Actors</h5>
                                <div class="border-top col p-0 mx-3 border-gray-3600"></div>
                                <a href="#" class="h-g-primary font-size-1 font-weight-medium font-secondary">VIEW ALL</a>
                            </div>
                            <div class="row mb-5 mb-lg-0">
                                <div class="col-lg-6">
                                    <div class="mb-5 mb-lg-0">
                                        <a href="../blog/blog-single.html" class="d-block mb-3 pb-1">
                                            <img class="img-fluid" src="https://placehold.it/480x270" alt="Image-Description">
                                        </a>
                                        <h6 class="font-size-22 font-weight-semi-bold font-secondary text-lh-1dot3 mb-1">
                                            <a href="../blog/blog-single.html" class="text-dark">The Couple Was Originally A Direct To Video Release, According To Crew</a>
                                        </h6>
                                        <div class="mb-2 pb-1">
                                            <a href="../blog/blog-single.html" class="font-weight-bold font-size-13">
                                                <span>Hot Rumours</span>
                                            </a>
                                            <a href="../blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                                                <span>February 2 2020</span>
                                            </a>
                                            <a href="../blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                                                <span>1 Comment</span>
                                            </a>
                                        </div>
                                        <p class="font-size-1 mb-0">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div >
                                        <a href="../blog/blog-single.html" class="d-block mb-3 pb-1">
                                            <img class="img-fluid" src="https://placehold.it/480x270" alt="Image-Description">
                                        </a>
                                        <h6 class="font-size-22 font-weight-semi-bold font-secondary text-lh-1dot3 mb-1">
                                            <a href="../blog/blog-single.html" class="text-dark">Movies That Earned a 0% Rating on Rotten Pomidoros</a>
                                        </h6>
                                        <div class="mb-2 pb-1">
                                            <a href="../blog/blog-single.html" class="font-weight-bold font-size-13">
                                                <span>Movie News</span>
                                            </a>
                                            <a href="../blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                                                <span>November 2 2020</span>
                                            </a>
                                            <a href="../blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                                                <span>1 Comment</span>
                                            </a>
                                        </div>
                                        <p class="font-size-1 mb-0">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pl-lg-8">
                                <div class="d-flex align-items-center justify-content-between mb-5">
                                    <h5 class="font-size-24 font-weight-medium font-secondary text-lh-1dot25 mb-0">Upcoming <br> Movies</h5>
                                    <div class="border-top col p-0 mx-3 border-gray-3600"></div>
                                    <a href="#" class="h-g-primary font-size-1 font-weight-medium font-secondary">VIEW ALL</a>
                                </div>
                                <ul class="list-unstyled">
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">1</div>
                                        <a href="../single-movies/single-movies-v1.html" class="ml-1">Dark Night</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">2</div>
                                        <a href="../single-movies/single-movies-v2.html" class="ml-1">Martin Absence Affects </a>
                                    </li>
                                   <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">3</div>
                                        <a href="../single-movies/single-movies-v3.html" class="ml-1">Possible Callback</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">4</div>
                                        <a href="../single-movies/single-movies-v4.html" class="ml-1">Uncharted Creator’s Characters</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">5</div>
                                        <a href="../single-movies/single-movies-v1.html" class="ml-1">Switch Weekly Recap</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">6</div>
                                        <a href="../single-movies/single-movies-v2.html" class="ml-1">Bad Actors On Intflix Shows</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">7</div>
                                        <a href="../single-movies/single-movies-v3.html" class="ml-1">Great Movies in 2020</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">8</div>
                                        <a href="../single-movies/single-movies-v4.html" class="ml-1">Mission Completed :Begining</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-2 pb-1">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">9</div>
                                        <a href="../single-movies/single-movies-v3.html" class="ml-1">Me Too 2</a>
                                    </li>
                                    <li class="product_title font-size-17 font-weight-semi-bold font-secondary d-flex align-items-center text-lh-1dot25 mb-0">
                                        <div class="border rounded-circle d-flex align-items-center justify-content-center w-34rem h-34rem mr-2">10</div>
                                        <a href="../single-movies/single-movies-v1.html" class="ml-1">After The Fall Of Atlantis</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- ========== END MAIN CONTENT ========== -->